@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&family=Source+Serif+Pro:wght@300;400&display=swap');

:root {
    --font-family-serif: 'Source Serif Pro', serif;
    --font-family-sans-serif: 'Source Sans Pro', sans-serif;
    font-family: var(--font-family-serif);
    font-weight: 300;

    --font-size-ratio: 1.2;
    --medium: 16px;
    --small: calc(var(--medium) / var(--font-size-ratio));
    --smaller: calc(var(--small) / var(--font-size-ratio));
    --x-small: calc(var(--smaller) / var(--font-size-ratio));
    --xx-small: calc(var(--x-small) / var(--font-size-ratio));
    --large: calc(var(--medium) * var(--font-size-ratio));
    --larger: calc(var(--large) * var(--font-size-ratio));
    --x-large: calc(var(--larger) * var(--font-size-ratio));
    --xx-large: calc(var(--x-large) * var(--font-size-ratio));
    --xxx-large: calc(var(--xx-large) * var(--font-size-ratio));
    font-size: var(--medium);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-sans-serif);
    font-weight: 300;
}

th {
    font-family: var(--font-family-sans-serif);
}
th { font-weight: 600; }

.url {
    font-family: inherit;
}


/* @media print { */
    :root {
        --medium: 11pt;

        --small-sep: 0.375em;
        --med-sep:   calc(2*var(--small-sep));
        --big-sep:   calc(4*var(--small-sep));
        --top-margin: 2cm;
        --right-margin: 2.5cm;
        --bottom-margin: 2cm;
        --left-margin: 2.5cm;
        --window-textwidth: 7.5cm;
        --sender-address-bottom: 4.3cm;
        /* Two different start heights for the recipient's address
         *  -> currently, only the 4.5cm one works correctly! */
        /* --recipient-address-top: 2.7cm; */
        --recipient-address-top: 4.5cm;
        /* --recipient-address-bottom: 8cm; */
        --recipient-address-bottom: 9cm;
        --header-bottom: 10cm;
        --signature-whitespace: 1.5cm;

        --list-item-indent: 2em;

        --folding-mark-size: 1pt;
    }
    /* Activate this rule for debugging. It shows borders around all elements. */
    /* * {
        border: 1px solid gray;
    } */
    html {
        padding: 0;
        margin: 0;
    }
    body {
        margin: 0;
        padding-top: var(--top-margin);
        padding-right: var(--right-margin);
        padding-bottom: var(--bottom-margin);
        padding-left: var(--left-margin);
    }
    header, main, footer { margin: 0; }
    header { margin-bottom: var(--big-sep); }
    main { margin: var(--big-sep) 0; }
    footer { margin-top: var(--big-sep); }

    body::before, body::after {
        /* Folding marks for Envelope size "DIN lang (DL)" */
        display: block;
        box-sizing: border-box;
        position: absolute;
        content: '';
        top: 10.5cm;
        bottom: calc(100vh - 2*10.5cm);
        border-top: var(--folding-mark-size) solid black;
        border-bottom: var(--folding-mark-size) solid black;
        width: var(--folding-mark-size);
    }
    body::before { left: 3mm; }
    body::after { right: 3mm; }

    header {
        display: grid;
        grid-template-columns: var(--window-textwidth) 1fr;
        grid-template-rows: calc(var(--sender-address-bottom) - var(--top-margin))
                            calc(var(--header-bottom) - var(--recipient-address-top));
        grid-template-areas:
            'sender    .'
            'recipient loc-and-date';
        grid-row-gap: calc(var(--recipient-address-top) - var(--sender-address-bottom));
    }

    header>.addresses:not(.sender-in-window) {
        display: contents;
    }
    header>.addresses:not(.sender-in-window)>address#sender {
        grid-area: sender;
        font-size: var(--small);
    }
    header>.addresses:not(.sender-in-window)>address#recipient {
        grid-area: recipient;
        margin-top: auto;
        margin-bottom: auto;
    }

    address {
        font: inherit;
    }
    address table {
        display: block;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
    }
    address td, address th {
        margin: 0;
        padding: 0;
        font: inherit;
    }
    address#recipient td,
    address#recipient th,
    header>.addresses:not(.sender-in-window) address#sender td,
    header>.addresses:not(.sender-in-window) address#sender th {
        /* Hanging indent for lines that are too long */
        padding-inline-start: var(--med-sep);
        text-indent: calc(-1*var(--med-sep));
    }
    address td:not(:last-child),
    address th:not(:last-child) {
        padding-right: var(--small-sep);
    }

    header>.addresses.sender-in-window {
        grid-area: recipient;
        margin-top: auto;
        margin-bottom: auto;
    }
    header>.addresses.sender-in-window>address#sender {
        font-family: var(--font-family-sans-serif);
        font-size: 8pt;
        margin-bottom: var(--small-sep);
    }

    header>.addresses.sender-in-window>address#sender>table {
    display: block;
    }

    header>.addresses.sender-in-window>address#sender>table>tbody {
        display: contents;
    }

    header>.addresses.sender-in-window>address#sender>table>tbody>tr {
        display: inline-block;
    }

    header>.addresses.sender-in-window>address#sender>table>tbody>tr:not(:first-child)::before {
        display: inline;
        content: ' | ';
    }

    header>.addresses.sender-in-window>address#sender>table>tbody>tr>td {
        display: inline;
    }

    header>#location-and-date {
        margin: 0;
        padding: 0;
        grid-area: loc-and-date;
        align-self: flex-end;
        text-align: right;
    }

    a, a:hover, a:focus, a:active, a:visited {
        text-decoration: none;
        color: inherit;
        outline: none;
    }

    p, ul, ol, table {
        padding: 0;
        margin: var(--small-sep) 0;
    }

    ul {
        list-style-type: none;
    }
    ul>li {
        margin-inline-start: var(--list-item-indent);
    }
    ul>li::before {
        display: inline-flex;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        content: '—';  /* em-dash */
        margin-left: calc(-1*var(--list-item-indent));
        width: var(--list-item-indent);
        box-sizing: border-box;
        flex-direction: row;
        justify-content: center;
    }

    ul.short-items {
        display: block;
        list-style: none;
    }
    ul.short-items>li {
        display: inline-block;
    }
    ul.short-items>li::before {
        display: none;
    }
    ul.short-items>li:not(:last-child)::after {
        display: inline;
        content: ", ";
    }

    table.tabbing {
        display: table;
        margin-inline: 0;
        padding: 0;
        border-collapse: collapse;
    }
    table.tabbing td, table.tabbing th {
        margin: 0;
        padding: 0;
        font: inherit;
    }
    table.tabbing td:not(last-child), table.tabbing th:not(last-child) {
        padding-right: var(--small-sep);
    }

    .indent {
        margin-left: var(--big-sep) !important;
    }

    #subject {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        margin-bottom: var(--big-sep);
    }

    #salutation {
        margin-bottom: var(--med-sep);
    }

    #ending, :not(#ending)+#valediction {
        margin-top: var(--med-sep);
    }

    #ending+#valediction {
        margin-top: var(--big-sep);
    }

    #valediction {
        padding-bottom: var(--signature-whitespace);
    }

    footer .enclosures h1 {
        display: block;
        font: inherit;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
    }
    footer .enclosures h1::after {
        display: inline;
        content: ': ';
        font: inherit;
    }
/* } */
